.login{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    background-color:rgb(218, 235, 238);
    width: 60%;
    height: 75%;
    box-shadow: -13px 10px 21px 1px rgba(0,0,0,0.78);
    -webkit-box-shadow: -13px 10px 21px 1px rgba(0,0,0,0.78);
    -moz-box-shadow: -13px 10px 21px 1px rgba(0,0,0,0.78);
    display: flex;
    align-items: center ;
    border-radius: 20px;
 
}

.izquierda,.derecha{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:70%;
 
}

.center{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.or{
    border: 2px solid lightgray;
    border-radius: 50%;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: white;
    font-weight: bold;
}

.line{
    width: 2.5px;
    height: 60%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.loginButton{
width: 150px;
padding: 15px 25px;
border-radius: 5px;
color: white;
display: flex;
align-items: center;
font-weight: bold;
margin-bottom: 20px;
cursor: pointer;
justify-content: center;
}


.facebook{
    background-color: #3e81e7;
}

.cerrarS{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #273675;
}


.icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.textregistrar{
    width: 65%;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 7px ;
}

.botoninicio{
    width: 200px;
    background-color: #dba345;
    color: white;
    font-weight: bold;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.botonsalir{
    width: 200px;
    background-color: #643030;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.loginTitle{
    position: absolute;
    top:32%;
    color: rgb(20, 20, 20);
    text-transform: capitalize;
   
}


.logo{
    width: 180px;
height: 125px;
display: flex;
align-items: center;
box-sizing: border-box;

position: absolute;

left: calc(50% - 198px/2);

mix-blend-mode: darken;
top: 75%;
}

.linkregistrar{
    width: 47%;
     top: 90%;
   font-style: normal;
   font-size: 15px;
   align-items: flex-end;
   text-align: center;
   line-height: 1.4;
   margin-top: 7px;
   cursor: pointer;
}