@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@100&family=Nova+Oval&family=Roboto:wght@100&family=Space+Mono&display=swap');

.NavbarItems {
   background-color:#dcf9c8;
   height: 90px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;

   

}

.navbar-logo> img{
   width: 140px;
   top: 0;
   left: 250px;
   line-height: 70px;
   position: absolute;
   
}



.navbar-logo {
   color: black;
   justify-self: start;
   margin-left:10px;
   cursor: pointer;
}

.nav-menu{
   display: grid;
   grid-template-columns: repeat(5,auto);
   grid-gap: 10px;
   list-style: none;
   text-align: center;
   width: 70vw;
   justify-content: end;
   margin-right: 1rem;

}

.nav-links {
   color: black;
   text-decoration: none;
   padding: 0.5rem 1rem;
   font-family:'Roboto Condensed';
}

.nav-links:hover {
   background-color: #dcf9c8;
   border-radius: 4px;
   transition: all 0.2s ease-out;
}

.fa-bars{
   color: black;
}

.nav-links-mobile {
   display: none;
}

.menu-icon{
   display: none;
}



@media screen and (min-width:960px)and (max-width: 1199px) {

   .NavbarItems{
      position: relative;
      width: 100%;
      height: 7.2rem;
   }

   

   .nav-menu{
      display: flex;
      flex-direction: column;
      text-align: start;
      height: 600px;
      position: relative;
      top: 90px;
      left: -115%;
      opacity: 1;
      transition: all 0.5s ease;




   }

   .nav-menu.active{
      background: #dcf9c8;
      top: 357px;
      left: 0;
      position:relative;
      transition: all 0.7s ease;
      z-index: 1;
      width: 100%;

   }

   .nav-links{
      padding: 1.8rem;
      padding-left: 20%;
      display: block;
      height: 20px;
      width: 20%;


   }

   .nav-links:hover {
      background-color:#edf1a5;
      width: 20%;
      left: 20%;
      justify-content: start;

   }

   .navbar-logo{
      position: absolute;
      top:0;
      left:0;
      transform: translate(30%, 50%);

      
   }

   .menu-icon{
      display: flex;
      position: absolute;
      top: 0;
      right:10px;
      transform: translate(-80%, 120%);
      font-size: 2rem;
      cursor:pointer;
      
   }

   .nav-links-mobile{
      display: flex;
      text-align: center;
      padding: 10px;
      margin: 1rem auto;
      border-radius: 10px;
      height: 30%;
      width: 15%;
      background: rgb(223, 63, 63);
      text-decoration: none;
      color: black;
      font-size: 1.4rem;
      margin-right: 600px;
   }

   .nav-links-mobile:hover{
      background: orange;
      color:black;
      transition: 250ms;
   }

   Button{
      display: none;
   }
   .NavbarItems  .h1{
      font-size: 1.3rem;
   }
   .navbar-logo >img{
      width: 100px;
      left: 190px;
      position: block;
      margin-bottom: 80px;
   }

}


@media screen and (min-width: 768px) and (max-width: 959px) {

   .NavbarItems{
      position: relative;
      width: 100%;
      height: 7.2rem;
   }

   

   .nav-menu{
      display: flex;
      flex-direction: column;
      text-align: start;
      height: 600px;
      position: relative;
      top: 90px;
      left: -115%;
      opacity: 1;
      transition: all 0.5s ease;




   }

   .nav-menu.active{
      background: #dcf9c8;
      top: 357px;
      left: 0;
      position:relative;
      transition: all 0.7s ease;
      z-index: 1;
      width: 100%;

   }

   .nav-links{
      padding: 1.8rem;
      padding-left: 20%;
      display: block;
      height: 20px;
      width: 20%;


   }

   .nav-links:hover {
      background-color:#edf1a5;
      width: 20%;
      left: 20%;
      justify-content: start;

   }

   .navbar-logo{
      position: absolute;
      top:0;
      left:0;
      transform: translate(30%, 50%);

      
   }

   .menu-icon{
      display: block;
      position: absolute;
      top: 0;
      right:10px;
      transform: translate(-80%, 120%);
      font-size: 2rem;
      cursor:pointer;
      
   }

   .nav-links-mobile{
      display: block;
      text-align: center;
      padding: 10px;
      margin: 1rem auto;
      border-radius: 10px;
      height: 30%;
      width: 20%;
      background: rgb(223, 63, 63);
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
      right: 100px;
   }

   .nav-links-mobile:hover{
      background: orange;
      color:black;
      transition: 250ms;
   }

   Button{
      display: none;
   }
   .NavbarItems  .h1{
      font-size: 1.3rem;
   }
   .navbar-logo >img{
      width: 100px;
      left: 190px;
      position: block;
      margin-bottom: 80px;
   }

}

@media all and (min-width: 480px) and (max-width: 767px){
   .NavbarItems{
      position: relative;
      width: 100%;
      height: 7.2rem;
   }

   

   .nav-menu{
      display: flex;
      flex-direction: column;
      text-align: start;
      height: 600px;
      position: relative;
      top: 90px;
      left: -115%;
      opacity: 1;
      transition: all 0.5s ease;




   }

   .nav-menu.active{
      background: #dcf9c8;
      top: 357px;
      left: 0;
      position:relative;
      transition: all 0.7s ease;
      z-index: 1;
      width: 100%;

   }

   .nav-links{
      padding: 1.8rem;
      padding-left: 20%;
      display: block;
      height: 20px;
      width: 20%;


   }

   .nav-links:hover {
      background-color:#edf1a5;
      width: 20%;
      left: 20%;
      justify-content: start;

   }

   .navbar-logo{
      position: absolute;
      top:0;
      left:0;
      transform: translate(30%, 50%);

      
   }

   .menu-icon{
      display: block;
      position: absolute;
      top: 0;
      right:10px;
      transform: translate(-80%, 120%);
      font-size: 2rem;
      cursor:pointer;
      
   }

   .nav-links-mobile{
      display: block;
      text-align: center;
      padding: 10px;
      margin: 1rem auto;
      border-radius: 10px;
      height: 30%;
      width: 25%;
      background: rgb(223, 63, 63);
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
      right: 100px;
   }

   .nav-links-mobile:hover{
      background: orange;
      color:black;
      transition: 250ms;
   }

   Button{
      display: none;
   }
   .NavbarItems  .h1{
      font-size: 1.3rem;
   }
   .navbar-logo >img{
      width: 100px;
      left: 190px;
      position: block;
      margin-bottom: 80px;
   }
}


@media screen  and (min-width:201px) and (max-width: 479px){
   .NavbarItems{
      position: relative;
      width: 100%;
      height: 7.2rem;
   }

   

   .nav-menu{
      display: flex;
      flex-direction: column;
      text-align: start;
      height: 600px;
      position: relative;
      top: 90px;
      left: -115%;
      opacity: 1;
      transition: all 0.5s ease;




   }

   .nav-menu.active{
      background: #dcf9c8;
      top: 357px;
      left: 0;
      position:relative;
      transition: all 0.7s ease;
      z-index: 1;
      width: 100%;

   }

   .nav-links{
      padding: 1.8rem;
      padding-left: 20%;
      display: block;
      height: 20px;
      width: 20%;


   }

   .nav-links:hover {
      background-color:#edf1a5;
      width: 35%;
      left: 20%;
      justify-content: start;

   }

   .navbar-logo{
      position: absolute;
      top:0;
      left:0;
      transform: translate(30%, 50%);

      
   }

   .menu-icon{
      display: block;
      position: absolute;
      top: 0;
      right:10px;
      transform: translate(-80%, 120%);
      font-size: 2rem;
      cursor:pointer;
      
   }

   .nav-links-mobile{
      display: block;
      text-align: center;
      padding: 10px;
      margin: 1rem auto;
      border-radius: 10px;
      height: 30%;
      width: 30%;
      background: rgb(223, 63, 63);
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
      right: 45px;
   }

   .nav-links-mobile:hover{
      background: orange;
      color:black;
      transition: 250ms;

   }

   Button{
      display: none;
   }
   .NavbarItems  .h1{
      font-size: 1.3rem;
   }
   .navbar-logo >img{
      width: 100px;
      left: 190px;
      position: block;
      margin-bottom: 80px;
   }
}

@media screen  and (min-width:201px) and (max-width: 479px){
   .NavbarItems{
      position: relative;
      width: 100%;
      height: 7.2rem;
   }

   .navbar-logo{
      position: absolute;
      top:0;
      left:0;
      transform: translate(20%, 40%);
      font-size: 25px;

      
   }

   .navbar-logo img{
      margin-left: -50px;
      margin-top: -10%;
   }

   .menu-icon{
      display: block;
      position: absolute;
      top: 0;
      right:10px;
      transform: translate(-50%, 120%);
      font-size: 2rem;
      cursor:pointer;
      
   }

   

   .nav-menu{
      display: flex;
      flex-direction: column;
      text-align: start;
      height: 600px;
      position: relative;
      top: 70px;
      left: -115%;
      opacity: 1;
      transition: all 0.5s ease;
 




   }

   .nav-menu.active{
      background: #dcf9c8;
      top: 350px;
      left: 0;
      position:relative;
      transition: all 0.7s ease;
      z-index: 1;
      width: 100%;

   }

   .nav-links{
      padding: 1.8rem;
      padding-left: 20%;
      display: block;
      height: 20px;
      width: 20%;


   }

   .nav-links:hover {
      background-color:#edf1a5;
      width: 35%;
      left: 20%;
      justify-content: start;

   }

   .navbar-logo{
      position: absolute;
      top:0;
      left:0;
      transform: translate(30%, 50%);

      
   }

   .menu-icon{
      display: block;
      position: absolute;
      top: 0;
      right:10px;
      transform: translate(-80%, 120%);
      font-size: 2rem;
      cursor:pointer;
      
   }

   .nav-links-mobile{
      display: block;
      text-align: center;
      padding: 10px;
      margin: 1rem auto;
      border-radius: 10px;
      height: 30%;
      width: 30%;
      background: rgb(223, 63, 63);
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
      right: 45px;
   }

   .nav-links-mobile:hover{
      background: orange;
      color:black;
      transition: 250ms;

   }

   Button{
      display: none;
   }
   .NavbarItems  .h1{
      font-size: 1.3rem;
   }
   .navbar-logo >img{
      width: 100px;
      left: 190px;
      position: block;
      margin-bottom: 80px;
   }
}

